@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";

.contacts {
    @include view();
    flex-direction: column;

    &__title {
        padding-top: 38px;
        padding-bottom: 8px;
        color: #FEFEFE;
    }

    &__text {
        padding-bottom: 26px;
        text-align: center;
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 192px;
        padding-bottom: 25px;
    }

    &__contact {
        @include view();
        flex-direction: column;
        padding-bottom: 48px;
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
    }

    &__link {
        text-decoration: none;
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
    }

}

@media (min-width: 768px) {
    
    .contacts {

        &__contact {
            flex-direction: row;
            justify-content: space-around;
        }

    }
}