@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";

.instagram {
    display: flex;
    flex-direction: column;

    &__wrapper {
        @include view();
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        padding-top: 48px;
        padding-bottom: 12px;
    }

    &__go {
        display: none;
    }

    &__photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 42px;
    }
}

.bike img {
    max-width: 300px;
    max-height: 300px;
}

.doorknob {
    display: none;
}

.cable {
    display: none;
}

.car {
    display: none;
}

@media (min-width: 768px) {

    .instagram {
        display: flex;
        flex-direction: column;
        background-color: #F5F5F5;

        &__title {
            padding-bottom: 35px;
        }

        &__go {
            display: inline-block;
            padding-top: 5px;
            font-family: $base-font-family;
            font-weight: 700;
            font-size: 13px;
            line-height: 22px;
        }

        &__photos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 42px;

            .instagram__photo {
                width: 33%;
                margin-right: 8px;
            }

            .instagram__photo:nth-child(3) {
                margin-right: 0px;
            }

            .instagram__photo img {
                width: 100%;
                height: auto;
            }
        }
    }

    .bike img {
        max-width: 100%;
        max-height: 100%;
    }

    .doorknob {
        display: block;
    }

    .cable {
        display: block;
    }
}

@media (min-width: 1200px) {

    .instagram {

        &__photos {

            .instagram__photo {
                width: 25%;
                margin-right: 8px;
            }

            .instagram__photo:nth-child(3) {
                margin-right: 8px;
            }

            .instagram__photo:nth-child(4) {
                margin-right: 0px;
            }

            .instagram__photo img {
                width: 100%;
                height: auto;
            }
        }
    }

    .car {
        display: block;
    }
}