@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";

.navigation {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;

    &__list {
        display: none;
        position: absolute;
        top: 60px;
        width: 182px;

        .navigation__link {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 14px;
            background-color: #F5F5F5;
            font-family: $base-font-family;
            font-weight: 400;
            font-size: 11px;
            letter-spacing: 1.1px;
            line-height: 22px;
            color: $base-color;
            text-decoration: none;
        }
    }

    &__icon {
        @include view();
        margin-top: 23px;
        margin-bottom: 23px;
        width: 44px;
        height: 37px;
        background-color: black;

        .navigation__svg {
            width: 20px;
            fill: white;
        }

        .invisible {
            display: none;
        }

    }
}

.active_link {
    background-color: #E5E5E5 !important;
    color: $base-color !important;
}

@media (min-width: 768px) {

    .navigation {
        @include view();
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 106px;

        &__list {
            @include view();
            position: relative;
            top: 0;
            left: 0;
            width: 100%;

            .navigation__link {
                display: inline-block;
                padding: 10px 16px;
                background-color: white;
                letter-spacing: 0px;
            }

        }

        &__icon {
            display: none;

            .navigation__svg {
                width: 20px;
                fill: white;
            }

        }
    }

    .active_link {
        background-color: #E5E5E5 !important;
        color: $base-color !important;
    }
}

@media (min-width: 1200px) {
    .navigation__link:hover {
        color: #57A4A4;
    }
}