@import "reset.scss";
@import "variables.scss";

.posts {
    &__title {
        padding-top: 38px;
        padding-bottom: 24px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    &__post {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    &__name {
        padding-top: 11px;
        font-family: $base-font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: $base-color;
    }

    &__about {
        padding-bottom: 28px;
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: #7c7c7c;

    }

    &__text {
        display: none;
    }
}

.flowers {
    display: none;
}

@media (min-width: 768px) {

    .posts {
        &__post {
            flex-direction: row;
            margin-bottom: 32px;
        }

        &__information {
            margin-left: 20px;
        }

        &__name {
            padding-top: 0px;
            font-size: 16px;
        }

        &__about {
            padding-bottom: 12px;
        }

        &__text {
            display: block;
            font-family: $base-font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 26px;
            color: #5C5C5C;
        }
    }

    .flowers {
        display: flex;
        margin-bottom: 60px;
    }
}

@media (min-width: 1200px) {

    .posts {

        &__wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__post {
            width: 48%;
            flex-direction: row;
            margin-bottom: 32px;
        }

        &__information {
            margin-left: 20px;
        }

        &__name {
            padding-top: 0px;
            font-size: 16px;
        }

        &__about {
            padding-bottom: 12px;
        }

        &__text {
            display: block;
            font-family: $base-font-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 26px;
            color: #5C5C5C;
        }
    }

    .flowers {
        display: flex;
        margin-bottom: 60px;
    }
}