@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";
@import "navigation.scss";
@import "posts.scss";
@import "instagram.scss";
@import "contacts.scss";

.wrapper {
    width: 85%;
    margin: 0 auto;
}

h2 {
    font-family: $base-font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $base-color;
}

.photo__img {
    width: 100%;
}

.black {
    background-color: black;
}

@media (min-width: 768px) {
    h2 {
        font-size: 16px;
        line-height: 22px;
    }

    .photo__img {
        width: 100%;
    }

}






